
.node-conf {
    width: 300px;
    margin-top: -100px;
    background: white;
    padding: 5px;
}

.node-conf > .row {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.node-conf > .row .text {
    padding-top: 6px;
    padding-left: 2px;
}

.node-conf > .row:first-child {
    margin-top: 0px;
}

.node-conf > .row:last-child {
    margin-bottom: 0px;
}

.general-form input,
.general-form select,
.node-conf input,
.node-conf select {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 200px;
    padding: 4px;
}

.node-button {
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    line-height: 10px;
    border-radius: 2px;
}

.node-button > img {
    width: 22px;
    height: 22px;
}

.node-button:hover {
    background: rgba(0,0,0,0.05);
}

.node-button:active {
    background: rgba(0,0,0,0.1);
}
