
@import "ansi";

.node-notebook {
    padding-top: 40px;
    position: relative;
    background: white;
}

.node-notebook .menu-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 28px;
    background: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    padding: 10px;
    z-index: 2;
}

.notebook-cell {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    font-size: 14px;
    line-height: 21px; // 14 * 1.5;
}

.notebook-cell.focus {
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.notebook-cell .insert-btn {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 28px;
    margin-left: -24px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Open Sans";
    border-radius: 2px;
    cursor: pointer;
    z-index: 1;
}

.notebook-cell .cell-action.insert-btn {
    border: 1px solid #f2f2f2;
    background: white;
}

.notebook-cell .cell-action.insert-btn:hover {
    border: 1px solid #ccc;
    background: #fff;
}

.notebook-cell .cell-action.insert-btn:active {
    border: 1px solid #ccc;
    background: #eee;
}

.notebook-cell .insert-btn > img {
    width: 22px;
    height: 22px;
    opacity: 0.1;
}

.notebook-cell .cell-action.insert-btn:hover > img {
    opacity: 0.5;
}

.notebook-cell.focus:before {
    content: ' ';
    width: 4px;
    background: #11dd22;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    border-radius: 4px;
}

.notebook-cell .left-area {
    padding: 10px;
}

.notebook-cell .grey-text {
    color: #ccc;
}

.node-notebook .cell-action  {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    height: 22px;
    padding: 2px;
    cursor: pointer;
}

.node-notebook .run-cell  {
    margin-bottom: 10px;
}

.node-notebook .cell-action > span {
    line-height: 20px;
    margin-left: 8px;
    float: left;
}

.node-notebook .cell-action:hover  {
    background: rgba(0, 0, 0, 0.05);
}

.node-notebook .cell-action:active  {
    background: rgba(0, 0, 0, 0.1);
}

.node-notebook .cell-action > img {
    width: 22px;
    height: 22px;
}
