/*
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: url(/static/fonts/IBMPlexMono-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/IBMPlexMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/IBMPlexMono-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/PlayfairDisplay-VariableFont_wght.woff2) format('woff2');
}*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/OpenSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/RobotoMono-VariableFont_wght.woff2) format("woff2");
}
/* sub-menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  display: none;
  min-width: 200px;
  padding: 10px 0px;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  text-align: left;
  list-style: none;
  background: rgba(255, 255, 255, 0.95);
  background-clip: padding-box;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  animation: 300ms ease 0s normal forwards 1 fadein;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -10px;
  margin-left: 1px;
  border-radius: 3px;
  animation: 300ms ease 0s normal forwards 1 delay-fadein;
}

.dropdown-submenu > .dropdown-menu.dropleft {
  left: -200px;
  margin-left: -1px;
  margin-right: 1px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.dropdown-menu > li {
  padding: 5px 2px 5px 10px;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:focus,
.dropdown-submenu:hover > li,
.dropdown-submenu:focus > li {
  color: #ffffff;
  text-decoration: none;
  background-color: #2D65D0;
}

li.dropdown-submenu:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: 10px;
  border-color: transparent;
  border-left-color: #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

li.dropdown-submenu:hover:after {
  border-left-color: white;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes delay-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ui-widget,
.ui-widget input {
  font-family: "Open Sans" !important;
  font-size: 1.1em;
}

.grid-header {
  border: 1px solid gray;
  border-bottom: 0;
  border-top: 0;
  background: url("../images/header-bg.gif") repeat-x center top;
  color: black;
  height: 24px;
  line-height: 24px;
}

.grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
  background-color: white;
}

.grid-header #txtSearch {
  margin: 0 4px 0 4px;
  padding: 2px 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid silver;
}

.options-panel {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  padding: 4px;
  margin-bottom: 20px;
  width: 320px;
  position: absolute;
  top: 0px;
  left: 650px;
}

/* Individual cell styles */
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}

.slick-cell.task-percent {
  text-align: right;
}

.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;
  background: #efefef;
  cursor: move;
}

.cell-move-handle:hover {
  background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}

.slick-row .cell-actions {
  text-align: left;
}

.slick-row.complete {
  background-color: #DFD;
  color: #555;
}

.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

/* Slick.Editors.PercentComplete */
input.editor-percentcomplete {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  float: left;
}

.editor-percentcomplete-picker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("../images/pencil.gif") no-repeat center center;
  overflow: visible;
  float: right;
}

.editor-percentcomplete-helper {
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("../images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;
  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}

.editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;
  width: 100%;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}

.editor-percentcomplete-buttons {
  float: right;
}

.editor-percentcomplete-buttons button {
  width: 80px;
}

.editor-percentcomplete-slider {
  float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
  display: block;
}

.editor-percentcomplete-helper:hover {
  display: block;
}

/* Slick.Editors.YesNoSelect */
select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.slick-cell, .slick-headerrow-column {
  z-index: 0 !important;
}

.ui-state-default,
.slick-header-columns,
.slick-header-column {
  background-image: none !important;
}

.slick-header-columns {
  border-bottom: 0px !important;
}

.slick-header {
  border-top: 0px !important;
}

.cell-selection {
  border-right-color: silver;
  border-right-style: solid;
  background: #f5f5f5;
  color: gray;
  text-align: right;
  font-size: 10px;
}

.slick-viewport {
  background: white;
}

.slick-row.odd {
  background: inherit !important;
}

.slick-cell, .slick-headerrow-column {
  border-right: 1px solid silver !important;
}

/*
toggle

https://mleibman.github.io/SlickGrid/examples/example5-collapsing.html
*/
.toggle {
  height: 9px;
  width: 9px;
  display: inline-block;
}

.toggle.expand {
  background: blue;
}

.toggle.collapse {
  background: red;
}

.node-conf {
  width: 300px;
  margin-top: -100px;
  background: white;
  padding: 5px;
}

.node-conf > .row {
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.node-conf > .row .text {
  padding-top: 6px;
  padding-left: 2px;
}

.node-conf > .row:first-child {
  margin-top: 0px;
}

.node-conf > .row:last-child {
  margin-bottom: 0px;
}

.general-form input,
.general-form select,
.node-conf input,
.node-conf select {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 200px;
  padding: 4px;
}

.node-button {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  line-height: 10px;
  border-radius: 2px;
}

.node-button > img {
  width: 22px;
  height: 22px;
}

.node-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.node-button:active {
  background: rgba(0, 0, 0, 0.1);
}

/* CSS font colors for translated ANSI escape sequences */
/* The color values are a mix of
   http://www.xcolors.net/dl/baskerville-ivorylight and
   http://www.xcolors.net/dl/euphrasia */
.ansi-black-fg {
  color: #3E424D;
}

.ansi-black-bg {
  background-color: #3E424D;
}

.ansi-black-intense-fg {
  color: #282C36;
}

.ansi-black-intense-bg {
  background-color: #282C36;
}

.ansi-red-fg {
  color: #E75C58;
}

.ansi-red-bg {
  background-color: #E75C58;
}

.ansi-red-intense-fg {
  color: #B22B31;
}

.ansi-red-intense-bg {
  background-color: #B22B31;
}

.ansi-green-fg {
  color: #00A250;
}

.ansi-green-bg {
  background-color: #00A250;
}

.ansi-green-intense-fg {
  color: #007427;
}

.ansi-green-intense-bg {
  background-color: #007427;
}

.ansi-yellow-fg {
  color: #DDB62B;
}

.ansi-yellow-bg {
  background-color: #DDB62B;
}

.ansi-yellow-intense-fg {
  color: #B27D12;
}

.ansi-yellow-intense-bg {
  background-color: #B27D12;
}

.ansi-blue-fg {
  color: #208FFB;
}

.ansi-blue-bg {
  background-color: #208FFB;
}

.ansi-blue-intense-fg {
  color: #0065CA;
}

.ansi-blue-intense-bg {
  background-color: #0065CA;
}

.ansi-magenta-fg {
  color: #D160C4;
}

.ansi-magenta-bg {
  background-color: #D160C4;
}

.ansi-magenta-intense-fg {
  color: #A03196;
}

.ansi-magenta-intense-bg {
  background-color: #A03196;
}

.ansi-cyan-fg {
  color: #60C6C8;
}

.ansi-cyan-bg {
  background-color: #60C6C8;
}

.ansi-cyan-intense-fg {
  color: #258F8F;
}

.ansi-cyan-intense-bg {
  background-color: #258F8F;
}

.ansi-white-fg {
  color: #C5C1B4;
}

.ansi-white-bg {
  background-color: #C5C1B4;
}

.ansi-white-intense-fg {
  color: #A1A6B2;
}

.ansi-white-intense-bg {
  background-color: #A1A6B2;
}

.ansi-default-inverse-fg {
  color: #FFFFFF;
}

.ansi-default-inverse-bg {
  background-color: #000000;
}

.ansi-bold {
  font-weight: bold;
}

.ansi-underline {
  text-decoration: underline;
}

.node-notebook {
  padding-top: 40px;
  position: relative;
  background: white;
}

.node-notebook .menu-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 28px;
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  z-index: 2;
}

.notebook-cell {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
}

.notebook-cell.focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.notebook-cell .insert-btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 28px;
  margin-left: -24px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Open Sans";
  border-radius: 2px;
  cursor: pointer;
  z-index: 1;
}

.notebook-cell .cell-action.insert-btn {
  border: 1px solid #f2f2f2;
  background: white;
}

.notebook-cell .cell-action.insert-btn:hover {
  border: 1px solid #ccc;
  background: #fff;
}

.notebook-cell .cell-action.insert-btn:active {
  border: 1px solid #ccc;
  background: #eee;
}

.notebook-cell .insert-btn > img {
  width: 22px;
  height: 22px;
  opacity: 0.1;
}

.notebook-cell .cell-action.insert-btn:hover > img {
  opacity: 0.5;
}

.notebook-cell.focus:before {
  content: " ";
  width: 4px;
  background: #11dd22;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 4px;
}

.notebook-cell .left-area {
  padding: 10px;
}

.notebook-cell .grey-text {
  color: #ccc;
}

.node-notebook .cell-action {
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  height: 22px;
  padding: 2px;
  cursor: pointer;
}

.node-notebook .run-cell {
  margin-bottom: 10px;
}

.node-notebook .cell-action > span {
  line-height: 20px;
  margin-left: 8px;
  float: left;
}

.node-notebook .cell-action:hover {
  background: rgba(0, 0, 0, 0.05);
}

.node-notebook .cell-action:active {
  background: rgba(0, 0, 0, 0.1);
}

.node-notebook .cell-action > img {
  width: 22px;
  height: 22px;
}

.rendered_html {
  color: #000;
  /* any extras will just be numbers: */
}
.rendered_html em {
  font-style: italic;
}
.rendered_html strong {
  font-weight: bold;
}
.rendered_html u {
  text-decoration: underline;
}
.rendered_html :link {
  text-decoration: underline;
}
.rendered_html :visited {
  text-decoration: underline;
}
.rendered_html h1 {
  font-size: 185.7%;
  margin: 1.08em 0 0 0;
  font-weight: bold;
  line-height: 1;
}
.rendered_html h2 {
  font-size: 157.1%;
  margin: 1.27em 0 0 0;
  font-weight: bold;
  line-height: 1;
}
.rendered_html h3 {
  font-size: 128.6%;
  margin: 1.55em 0 0 0;
  font-weight: bold;
  line-height: 1;
}
.rendered_html h4 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1;
}
.rendered_html h5 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1;
  font-style: italic;
}
.rendered_html h6 {
  font-size: 100%;
  margin: 2em 0 0 0;
  font-weight: bold;
  line-height: 1;
  font-style: italic;
}
.rendered_html h1:first-child {
  margin-top: 0.538em;
}
.rendered_html h2:first-child {
  margin-top: 0.636em;
}
.rendered_html h3:first-child {
  margin-top: 0.777em;
}
.rendered_html h4:first-child {
  margin-top: 1em;
}
.rendered_html h5:first-child {
  margin-top: 1em;
}
.rendered_html h6:first-child {
  margin-top: 1em;
}
.rendered_html ul:not(.list-inline),
.rendered_html ol:not(.list-inline) {
  padding-left: 2em;
}
.rendered_html ul {
  list-style: disc;
}
.rendered_html ul ul {
  list-style: square;
  margin-top: 0;
}
.rendered_html ul ul ul {
  list-style: circle;
}
.rendered_html ol {
  list-style: decimal;
}
.rendered_html ol ol {
  list-style: upper-alpha;
  margin-top: 0;
}
.rendered_html ol ol ol {
  list-style: lower-alpha;
}
.rendered_html ol ol ol ol {
  list-style: lower-roman;
}
.rendered_html ol ol ol ol ol {
  list-style: decimal;
}
.rendered_html * + ul {
  margin-top: 1em;
}
.rendered_html * + ol {
  margin-top: 1em;
}
.rendered_html hr {
  color: #ccc;
  background-color: #ccc;
}
.rendered_html pre {
  padding: 0px;
  background-color: #f7f7f7;
}
.rendered_html code {
  background-color: #eff0f1;
}
.rendered_html p code {
  padding: 1px 5px;
}
.rendered_html pre code {
  background-color: #f7f7f7;
}
.rendered_html pre, .rendered_html code {
  border: 0;
  color: #000;
  font-size: 100%;
}
.rendered_html blockquote {
  margin: 1em 2em;
}
.rendered_html table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ccc;
  font-size: 12px;
  table-layout: fixed;
}
.rendered_html thead {
  border-bottom: 1px solid #ccc;
  vertical-align: bottom;
}
.rendered_html tr, .rendered_html th, .rendered_html td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.rendered_html th {
  font-weight: bold;
}
.rendered_html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.rendered_html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
.rendered_html * + table {
  margin-top: 1em;
}
.rendered_html p {
  text-align: left;
}
.rendered_html * + p {
  margin-top: 1em;
}
.rendered_html img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rendered_html * + img {
  margin-top: 1em;
}
.rendered_html img, .rendered_html svg {
  max-width: 100%;
  height: auto;
}
.rendered_html img.unconfined, .rendered_html svg.unconfined {
  max-width: none;
}
.rendered_html .alert {
  margin-bottom: initial;
}
.rendered_html * + .alert {
  margin-top: 1em;
}

[dir=rtl] .rendered_html:not([dir=ltr]) p, .rendered_html[dir=rtl] p {
  text-align: right;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #e8e8e8;
  font-family: "Open Sans";
  overflow: hidden;
  overscroll-behavior-x: none;
}

pre, code {
  font-family: "Open Sans", monospace;
}

h1 {
  color: #333;
  font-weight: 100;
}

#main-menu {
  position: absolute;
  top: 0px;
  width: 40%;
  left: 30%;
  z-index: 1;
}

.menu-item {
  line-height: 20px;
}

.menu-item > div {
  color: #333;
  transition: opacity 100ms ease-in-out;
  padding: 5px;
  opacity: 0.25;
}

.menu-item:hover > div {
  opacity: 1;
}

#cytoscape_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.basic-box {
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=main.css.map */
