@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 100;
  src: url(/static/fonts/IBMPlexMono-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/IBMPlexMono-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/IBMPlexMono-Bold.woff2) format("woff2");
}
/* sub-menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  display: none;
  min-width: 200px;
  padding: 10px 0px;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  text-align: left;
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  animation: 300ms ease 0s normal forwards 1 fadein;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -10px;
  margin-left: 1px;
  border-radius: 3px;
  animation: 300ms ease 0s normal forwards 1 delay-fadein;
}

.dropdown-submenu > .dropdown-menu.dropleft {
  left: -200px;
  margin-left: -1px;
  margin-right: 1px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.dropdown-menu > li {
  padding: 5px 2px 5px 10px;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:focus,
.dropdown-submenu:hover > li,
.dropdown-submenu:focus > li {
  color: #ffffff;
  text-decoration: none;
  background-color: #2D65D0;
}

li.dropdown-submenu:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: 10px;
  border-color: transparent;
  border-left-color: #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

li.dropdown-submenu:hover:after {
  border-left-color: white;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes delay-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ui-widget,
.ui-widget input {
  font-family: "IBM Plex Mono" !important;
  font-size: 1.1em;
}

.grid-header {
  border: 1px solid gray;
  border-bottom: 0;
  border-top: 0;
  background: url("../images/header-bg.gif") repeat-x center top;
  color: black;
  height: 24px;
  line-height: 24px;
}

.grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
  background-color: white;
}

.grid-header #txtSearch {
  margin: 0 4px 0 4px;
  padding: 2px 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid silver;
}

.options-panel {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  padding: 4px;
  margin-bottom: 20px;
  width: 320px;
  position: absolute;
  top: 0px;
  left: 650px;
}

/* Individual cell styles */
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}

.slick-cell.task-percent {
  text-align: right;
}

.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;
  background: #efefef;
  cursor: move;
}

.cell-move-handle:hover {
  background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}

.slick-row .cell-actions {
  text-align: left;
}

.slick-row.complete {
  background-color: #DFD;
  color: #555;
}

.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

/* Slick.Editors.PercentComplete */
input.editor-percentcomplete {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  float: left;
}

.editor-percentcomplete-picker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("../images/pencil.gif") no-repeat center center;
  overflow: visible;
  float: right;
}

.editor-percentcomplete-helper {
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("../images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;
  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}

.editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;
  width: 100%;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}

.editor-percentcomplete-buttons {
  float: right;
}

.editor-percentcomplete-buttons button {
  width: 80px;
}

.editor-percentcomplete-slider {
  float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
  display: block;
}

.editor-percentcomplete-helper:hover {
  display: block;
}

/* Slick.Editors.YesNoSelect */
select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.slick-cell, .slick-headerrow-column {
  z-index: auto !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #222222;
  font-family: "IBM Plex Mono";
  overflow: hidden;
  overscroll-behavior-x: none;
}

h1 {
  color: #eee;
  font-weight: 100;
}

#main-menu {
  position: absolute;
  top: 0px;
  width: 40%;
  left: 30%;
  color: white;
  z-index: 1;
}

.menu-item {
  line-height: 20px;
}

.menu-item > div {
  transition: opacity 100ms ease-in-out;
  padding: 5px;
  opacity: 0.25;
}

.menu-item:hover > div {
  opacity: 1;
}

#cytoscape_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
